<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396436503808-qkvlepkdh9shp2eab243d3u6ejso13ap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396436503808-qkvlepkdh9shp2eab243d3u6ejso13ap</string>
	<key>API_KEY</key>
	<string>AIzaSyDWDjXPuX0JKZFfTC5t6Ln001YXK_D3CuY</string>
	<key>GCM_SENDER_ID</key>
	<string>396436503808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopify.bjjhq</string>
	<key>PROJECT_ID</key>
	<string>bjjhq-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>bjjhq-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396436503808:ios:9747fe6469db6ba00507e5</string>
</dict>
</plist>